@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Julee", cursive;
    font-weight: 800;
    font-style: normal;
}

.swipe {
    /* here i'll properly align cards layered wise ss */
    /* position: absolute; */
}

button {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #9198e5;
    transition: 200ms;
    margin: 10px;
    font-weight: bolder;
    width: 160px;
}

button:hover {
    transform: scale(1.05);
}

@keyframes popup {
    0% {
        transform: scale(1, 1)
    }

    10% {
        transform: scale(1.1, 1.1)
    }

    30% {
        transform: scale(.9, .9)
    }

    50% {
        transform: scale(1, 1)
    }

    57% {
        transform: scale(1, 1)
    }

    64% {
        transform: scale(1, 1)
    }

    100% {
        transform: scale(1, 1)
    }
}